extends layout
block content
  audio(id="btnclick", src="/sound/button.mp3" autostart="false")
  div(ng-controller='ClockIndicatorInputCtrl', ng-init='load()',  ng-cloak)
    .text-center
        t(style="color:yellowgreen; font-family:WWDigital;") force load WWDigital
        t ............
        t(style="color:yellowgreen; font-family:Yekan;") force load Yekan
    .row
      .d-flex.justify-content-start.flex-wrap(ng-controller='JobIndicatorCtrl', ng-init='init()')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgray(id='job1', data-source='0', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgray(id='job2', data-source='1', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgray(id='job3', data-source='2', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgray(id='job4', data-source='3', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgray(id='job5', data-source='4', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        include modalconfig.pug