extends layout
block content
  div(ng-controller='ClockIndicatorInputCtrl')
    .text-center
        t(style="color:yellowgreen; font-family:WWDigital;") force load WWDigital
        t ............
        t(style="color:yellowgreen; font-family:Yekan;") force load Yekan
    .d-flex.justify-content-around
      .col-2.with-border
      a.col-6.text-center(ng-controller='ClockIndicatorCtrl', ng-click="clicked(0)")
        canvas.chart.chart-doughnut.with-border(id='0', chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
    .d-flex.justify-content-around
      a.col-2.text-center(ng-controller='ClockIndicatorCtrl', ng-click="clicked(1)")
        canvas.chart.chart-doughnut.with-border(id='1', chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
      a.col-5.text-center(ng-controller='ClockIndicatorCtrl', ng-click="clicked(2)")
        canvas.chart.chart-doughnut.with-border(id='2', chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
      a.col-4.text-center(ng-controller='ClockIndicatorCtrl', ng-click="clicked(3)")
        canvas.chart.chart-doughnut.with-border(id='3', chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
    include modalconfig.pug