extends layout
block content
  div(ng-controller='ClockIndicatorInputCtrl', ng-init='load()')
    .text-center
        t(style="color:yellowgreen; font-family:WWDigital;") force load WWDigital
        t ............
        t(style="color:yellowgreen; font-family:Yekan;") force load Yekan
    .row
      .d-flex.justify-content-start.flex-wrap(ng-controller='ClockIndicatorCtrl')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bpurple(id='job1', data-source='0', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bpink(id='job2', data-source='1', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bred(id='job3', data-source='2', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bgreen(id='job4', data-source='3', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        a.col-sm-6.col-md-3.text-center
          canvas.with-border.Bblue(id='job5', data-source='4', ng-click="clicked($event)", chart-data='data', chart-options='options', chart-dataset-override='datasetOverride')
        include modalconfig.pug