doctype html
html(ng-app='ClockIndicator')
  head
    // Bootstrap css
    // link(href='/node_modules/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    // Bootstrap-rtl css
    link(href='/stylesheets/bootstrap-rtl.css', rel='stylesheet')

    link(rel='stylesheet', href='/stylesheets/main.css')
    // Bootstrap Core JavaScript
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/popper.js/dist/umd/popper.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    // Angular
    script(src='/node_modules/angular/angular.min.js')
    // Reference chart.js angular-chart
    script(src='/node_modules/chart.js/dist/Chart.min.js')
    script(src='/node_modules/angular-chart.js/dist/angular-chart.min.js')  
    script(src='/node_modules/angular-resource/angular-resource.min.js')  
    // Controller
    script(src='/javascripts/jobindicatorctrl.js')
    body
    block content