body {
    font-family: Tanha;
    background-color: #252830;
    direction: rtl; 
}
button {
    font-family: Tanha;
}
input {
    font-family: Yekan;
}
canvas {
    direction: ltr;
    width: 100%;
    min-width: 200px;
    min-height: 150px;
    height: auto;
}

.with-border {
    color: #cfd2da;
    margin-bottom: 1rem;
    padding-top: .1rem;
    padding-bottom: .5rem;
    background-color: rgba(var(--rgb), 0.1);
    border: 2px solid rgba(var(--rgb),.9);
}

.with-border:hover {
    background-color: rgba(var(--rgb), .4);
    border: 2px solid rgba(var(--rgb), 1));
}

.Bgray {
    --rgb: 58,59,63;
}
.Bpurple {
    --rgb: 86,61,124;
}
.Bpink {
    --rgb: 100,60,80;
}
.Bred {
    --rgb: 130,30,50;
}
.Bgreen {
    --rgb: 40,100,50;
}
.Bblue {
    --rgb: 70,70,140;
}

.beautifulGreen {
  #70BF18
}

a {
    color: #00B7FF;
}

kbd {
    font-family: WWDigital;
}
@font-face {
    font-family: WWDigital;
    src: url('/fonts/wwDigital.ttf') format('truetype');
}

@font-face {
    font-family: Tanha;
    src: url('/fonts/Tanha/Tanha.woff') format('woff');
}

@font-face {
    font-family: Yekan;
    src: url('/fonts/BYekan+ Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Yekan;
    src: url('/fonts/BYekan+.ttf') format('truetype');
}

/* HACK:  */
.modal-header {
    display: block;
}